<% if( technologies.length == 0) { %>
    <p>No technologies found</p>
    
<% } else { %>
    <ul class="nav nav-pills" data-tabs="tabs">
    <% technologiesInGroups.forEach(function(techGroup, i) { %>
        <li class="<%- (i === 0 ) ? 'active' : '' %>">
            <a href="#<%= techGroup.status %>" id="tab-<%= techGroup.status %>" data-toggle="tab">
                <%= techGroup.status %>
            </a>
        </li>
    <% }); %>
    </ul>

    <div class="tab-content">
        <% technologiesInGroups.forEach(function(techGroup, i){ %>
            <div class="tab-pane <%- (i === 0 ) ? 'active' : '' %>" id="<%= techGroup.status %>">
            <% techGroup.technologies.forEach(function(technology) { %>
                <div class="list-group-item tech-item tech-group-<%= technology.num %>" 
                    id="tech-<%= technology.row_num || technology.num %>">
                    <span class="badge"><%= technology.num %></span>
                    <%- link_to(technology.name, '/technology/' + technology.id) %>
                    <% if(technology.version) { %>
                        <mark class="version-mark"><small><%= technology.version %></small></mark>
                    <% } %>
                </div>
            <% }); %>
            </div>
        <% }); %>
    </div>
<% } %>    