<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <% include ../partials/head.ejs %>

    <script type="text/javascript" src="/utils.js" charset="utf-8"></script>
</head>

<body>

<% include ../partials/menu.ejs %>

<div class="container bs-docs-container">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="/">Home</a></li>
            <li><a href="/project/<%= project.id %>"><%= project.name %></a></li>
            <li>Tags</li>
            <li class="active">Attach</li>
        </ol>
    </div>

    <div class="col-md-12">
        <div class="alert alert-info">
            Select tags that you would like to attach to <strong><%= project.name %></strong>.
            <p>You can also create new tags or edit/delete the existing ones. Please note that those changes will affect tags globally.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="custom-toolbar">
                <div class="form-inline" role="form">
                    <button id="submitBtn" href="#" class="btn btn-success">
                        <i class="glyphicon glyphicon-ok"></i>
                        Attach selected
                    </button>
                    <a href="#" onclick="addTag()" class="btn btn-info">
                        <i class="glyphicon glyphicon-plus"></i>
                        Create
                    </a>
                    <button id="editBtn" class="btn btn-info" disabled="">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </button>
                    <button id="deleteBtn" class="btn btn-danger" disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </button>
                </div>
            </div>
            <table id="results"></table>
        </div>
    </div>

</div><!-- /.container -->
<% include ../partials/footer.ejs %>

<script src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script>
    $table = $('#results');
    $deleteBtn = $('#deleteBtn')
    $editBtn = $('#editBtn');
    $submitBtn = $('#submitBtn');

    $table.bootstrapTable({
        method: 'get',
        url: '/api/tags',
        cache: false,
        striped: true,
        escape: true,
        idField: 'id',
        search: true,
        showColumns: true,
        showRefresh: true,
        showPaginationSwitch: true,
        pagination: true,
        columns: [{
            field:'state',
            checkbox:'true'
        },   {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'name',
            title: 'Name',
            sortable: true
        }]
    });

    $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table pre-body.bs.table', function () {
        $deleteBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
        $submitBtn.prop('disabled', !$table.bootstrapTable('getSelections').length);
        $editBtn.prop('disabled', $table.bootstrapTable('getSelections').length != 1);
    });

    $deleteBtn.click( function() {
        var r = confirm("Are you sure you want to delete the selected tags? Deleted tags will disappear from all projects.");
        if (r == false) {
            return;
        }

        var data = {};
        data.tags = getIdSelections();

        $.ajax({
            type: "DELETE",
            url: '/api/tags',
            contentType: "application/json",
            data: JSON.stringify(data),
            complete: function(result){
                if (result.success) {
                    $table.bootstrapTable('refresh' );
                    $deleteBtn.prop('disabled', true );
                } else {
                    alert("There was an error deleting category");
                }
            }
        });
    });;

    $editBtn.click(function () {
        var data = {};
        data.tag = getIdSelections()[0];
        data.name = prompt("Please enter a new name for this tag. " +
            "Note that the name will change for all projects that already use this tag.", 
            getNameSelections()[0]);

        if(data.name == null){
            return false;
        }
        
        $.ajax({
            method: "PUT",
            contentType: "application/json",
            url: "/api/tag",
            data: JSON.stringify(data)
        }).done(function( msg ) {
            if(msg.success) {
                location.reload();
            } else {
                alert("Unable to update this tag. Perhaps the same tag already exists.");
            }
        }).fail(function() {
            alert('There was an error updating tag.');
        });
    });

    $submitBtn.click(function() {
        var data = {};
        data.tags = getIdSelections();
        data.projectId = <%= project.id %>

        $.ajax({
            method: "POST",
            contentType: "application/json",
            url: "/api/project/<%= project.id %>/tags",
            data: JSON.stringify(data)
        }).done(function( msg ) {
            if(msg.success) {
                location.href = "/project/<%= project.id %>/tags";
            } else {
                alert("Unable to update this tag. Perhaps the same tag already exists.");
            }
        }).fail(function() {
            alert('There was an error updating tag.');
        });
    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function getNameSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.name
        });
    }

</script>

<script>
    function addTag() {
        var tagName = prompt("Please enter the name of a new tag.");
        $.ajax({
            method: "POST",
            contentType: "application/json",
            url: "/api/tag",
            data: JSON.stringify({name: tagName})
        }).done(function( msg ) {
            if(msg.success) {
                location.reload();
            } else {
                alert("Unable to add this tag. Perhaps the same tag already exists.");
            }
        }).fail(function() {
            alert('There was an error adding tag.');
        });
    }
</script>

</body>
</html>
